<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="SRF" value="http://nuget.srfphoto.com.au/nuget" />
    <add key="Local" value="c:\nuget" />
  </packageSources>
  <disabledPackageSources>
    <add key="Local" value="true" />
  </disabledPackageSources>
</configuration>